
.tripal-galaxy-workflow-log {
  overflow: scroll !important;
  white-space: pre;
  max-width: 700px;
  max-height: 200px;
}
#tripal-galaxy-results-viewer-iframe {
  width: 100%;
  height: 500px;
  display: block;
  border: 1px solid #aaa;
}
.tripal-galaxy-enabled-file {
  background-color: #efe !important;
}
.tripal-galaxy-disabled-file {
  background-color: #fee !important;
}
.tripal-galaxy-fieldset .fieldset-legend {
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.tripal-galaxy-fieldset .fieldset-description {
   color: #0099ff;
}